*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	scroll-behavior: smooth;
	background-color: #191a22;
}
.icon{
          height: 30px;
          width: 30px;
        }
        .js-preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,1);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 5;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.remove_loader{
    transition: .5s;
    visibility: hidden;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: transparent;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #f35525;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #00ff7f;
  border-radius: 50%;
}

        
        
        .leaderboard-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255,255,255,0.09);
  border-radius: 18px;
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.4);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter:blur(25px);
  border:1px solid rgba(255,255,255,0.3);
  -webkit-transition:all 0.2s ease-in-out;
            width: 600px;
            height: 400px;
            padding: 20px;
            overflow-y: scroll;
        }
        @media(max-width: 770px){
        .leaderboard-container {
          width: 300px;
          height: 350px;
          
        }
        }
        .leaderboard-container::-webkit-scrollbar{
          /*background-color: #141414;*/d
          border-radius: 50px;
        width: 8px;
        scroll-margin-right:50px;
        }
        .leaderboard-container::-webkit-scrollbar-track{
      width: 8px;
         margin-right: 60px;
        }
        .leaderboard-container::-webkit-scrollbar-thumb{

           background:#00ff7f;
        border-radius: 70px;
        margin-right: 60px;
    }

        .leaderboard-container span{
          width: 100%;
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          
        }
        .leaderboard-container span img{
          width: 25px;
          height: 25px;
        }
.leaderboard-container span h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #a5ace1;
    padding-bottom: 10px;
}

#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

#leaderboard-table th, #leaderboard-table td {
    /*border: 1px solid #00ff7f;*/
    padding: 10px;
    text-align: center;
}

#leaderboard-table th {
    background-color: #a5ace1;
}
#leaderboard-body td{
  font-size: 17px;
  font-weight: 700;
}